{{!< default}}

{{#post}}

<div id="art-container">
    <div class="article-body">
        <div class="article-content">
                <h1 id="" style="color:#ffad2a ">小伙伴(〜￣△￣)〜</h1> 
                <h3 id="">按照添加时间排名</h3> 
                <div class="link-area">  
                <a title="暂无描述" href="https://prinzeugen.net/" target="_blank">  
                <div class="link-box">  
                <img src="https://blessing.studio/images/favicon.ico">  
                <p>Blessing Studio</p>  
                </div>  
                </a>

                <a title="暂无描述~" href="https://qqdie.com/" target="_blank">  
                <div class="link-box">  
                <img src="https://qqdie.com/tu/400x400l.png">  
                <p>Jrotty's Blog</p>  
                </div>  
                </a>  
                <a title="我想到的并写下的任何东西，不添加防腐剂，无农药残留，图样、图奶衣服的个人偏见。" href="https://fiveyellowmice.com/" target="_blank">  
                <div class="link-box">  
                <img src="https://c.disquscdn.com/uploads/users/14783/9100/avatar92.jpg">  
                <p>FiveYellowMice's Blog</p>  
                </div>  
                </a>
                <a title="暂无描述~" href="https://emiria.io/" target="_blank">  
                <div class="link-box">  
                <img src="https://emiria.io/favicon.JPG">  
                <p>蔓舞寻樱的博客</p>  
                </div>  
                </a>    
<!--                <a title="描述" href="https://www.techxiu.com/" target="_blank">  
                <div class="link-box">  
                <img src="图片">  
                <p>Techxiuの个人博客</p>  
                </div>  
                </a>           -->
                <a title="暂无描述~" href="https://imguoguo.com/" target="_blank">  
                <div class="link-box">  
                <img src="https://imguoguo.com/favicon.ico">  
                <p>Guoguo's Blog</p>  
                </div>  
                </a>  
                <a title="伪技术宅的迷之地" href="http://blog.9bie.org:8081/" target="_blank">  
                <div class="link-box">  
                <img src="https://ooo.0o0.ooo/2017/06/08/5938c960551f4.jpg">  
                <p>9BIE</p>  
                </div>  
                </a>  
                <a title="天下事有难易乎，为之，则难者亦易矣，不为，则易者亦难矣。" href="https://bigballon.github.io/" target="_blank">  
<div class="link-box">  
<img src="https://bigballon.github.io/avatar.jpg">  
<p>Blog · BIGBALLON</p>  
</div>  
</a>  
<a title="Your time is limited, so don't waste it living someone else's life." href="https://kernel.moe/" target="_blank">  
<div class="link-box">  
<img src="https://c.disquscdn.com/uploads/users/19300/7175/avatar92.jpg">  
<p>静静's Blog</p>  
</div>  
</a> 
<a title="暂无描述~" href="https://touko.moe/" target="_blank">  
<div class="link-box">  
<img src="https://touko.moe/usr/themes/bytecats2/img/favicon.ico">  
<p>Touko's diary</p>  
</div>  
</a>
<a title="暂无描述~" href="https://gao4.pw/" target="_blank">
	<div class="link-box">
		<img src="https://gao4.pw/favicon.ico">
		<p>MoeYi's Blog</p>
	</div>
</a>   

                 <!-- 一个a标签一个博客，自己添加，别落了最后还有一个div -->
</div> 
<h4 id="">以下为单方面链接</h4>  
<div class="link-area">  
<a title="暂无描述~" href="https://laike9m.com/" target="_blank">  
<div class="link-box">  
<img src="https://laike9m.com/static/css3two_blog/images/thumbnail.png">  
<p>laike9m's Blog</p>  
</div>  
</a>

<a title="暂无描述~" href="https://kirainmoe.com/" target="_blank">  
<div class="link-box">  
<img src="https://kirainmoe.com/favicon.ico">  
<p>YumeのDiary</p>  
</div>  
</a>  
<a title="喵?" href="https://satori.moe/" target="_blank">  
<div class="link-box">  
<img src="https://q1.qlogo.cn/g?b=qq&nk=3077855320&s=640">  
<p>Loli Tech</p>  
</div>  
</a>  
<a title="It's that simple" href="https://punchcode.github.io/" target="_blank">  
<div class="link-box">  
<img src="https://avatars0.githubusercontent.com/u/25588514?v=3&s=460">  
<p>RinYan’s Blog</p>  
</div>  
</a>  
<!-- 一个a标签一个博客，自己添加，别落了最后还有一个div -->

</div>   
            {{ content }}
        </div>
        <div class="article-footer">
            <p class="article-footer-info">
                <span><i class="fa fa-user"></i> {{author.name}}</span>
                <span><i class="fa fa-eye"></i> 2333 Views</span>
                <span><i class="fa fa-tags"></i> {{tags}}</span>
                <span><i class="fa fa-comment"></i> No comment</span>
            </p>
        </div>
    </div>
    {{> comment }}
</div>

{{/post}}
